/*此为笔者网站较为个性化的鼠标指针样式，可结合个人需要自行修改*/
body {
	cursor: url(https://guou123.github.io/curs/Arrow.cur), default;
}
select{
	cursor: url(https://guou123.github.io/curs/Hand.cur), pointer;
}
button,a:hover{
	cursor: url(https://guou123.github.io/curs/Hand2.cur), pointer;
}
input{
	cursor:url(https://guou123.github.io/curs/Help.cur), text;	
}
textarea,input:focus{
	cursor:url(https://guou123.github.io/curs/IBeam.cur), text;	
}
code{
	cursor: url(https://guou123.github.io/curs/Handwriting.cur), default;	
}
pre>code{
	cursor: url(https://guou123.github.io/curs/Copy.cur), default;	
}
